
.Root__main-view--has-ads > div:nth-child(3) {
    z-index: 10000;
}

.Root__main-view--has-ads > div:nth-child(3) > div {
    background-color: rgba(24, 24, 24, 0.6);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border-top: 0px;
}

.AdsContainer {
    background-color: transparent;
    overflow: hidden;
}

.now-playing-bar__right {
    padding-right: 8px;
}

@media (min-width: 721px) {
    .now-playing-bar__right__inner {
        width: 200px;
    }
}
