
.backButtonContainer {
    transition: opacity linear .2s;
    margin-top: 16px;
}

.backButtonContainer-disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
}

.backbutton {
    padding-left: 24px;
    margin-right: -6px;
    margin-bottom: 12px;
    border-bottom-width: 0px;
    cursor: pointer;
}

.backbutton span {
    font-family: Segoe MDL2 Assets;
    font-size: 20px;
    padding-top: 10px;
    display: inline-block;
}

@media (max-width: 720px) {
    .backbutton {
        padding-left: 30px;
    }
}
