
.backButtonContainer {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    width: 46px;
    height: 32px;
    text-align: center;
    cursor: pointer;
}

.backButtonContainer:hover {
    background: #555;
}

.backButtonContainer-disabled {
    opacity: 0.4;
    pointer-events: none;
    cursor: default;
}

.backButtonContainer-disabled:hover {
    background: unset;
}

.backButtonContainer span {
    font-family: Segoe MDL2 Assets;
    font-size: 14px;
    padding-top: 6px;
    display: inline-block;
}
