
html {
    /* 
        Color of the bounce effect of page when using touch or touchpad.
    */
    background-color: #181818;

    /* Disable horizontal scrollbar which appears occasionally */
    overflow-x: hidden;

    /* Disable overscrolling navbar and now playing bar */
    overflow-y: hidden;
}

body {
    background-color: #181818;

    /* Disable zooming by pinch on touch screen or presicion touchpad */
    -ms-content-zooming: none;

    /* Disable text selection */
    -webkit-user-select: none;

    /* Disable horizontal scrollbar which appears occasionally */
    overflow-x: hidden;

    /* Disable overscrolling navbar and now playing bar */
    overflow-y: hidden;
}

.main-view-container__content, .main-view-container__scroll-node {
    /* Auto hide new scrollbar */
    -ms-overflow-style: -ms-autohiding-scrollbar;

    /* Don't show scrollbar when not necessary */
    overflow-y: auto;
}

.Root__main-view .contentSpacing {
    margin-bottom: 90px !important;
    padding-top: 20px !important;
}

.Root__main-view .row .contentSpacing {
    margin-bottom: 0 !important;
    padding-top: 0 !important;
}


.Root__main-view .Search .contentSpacing {
    margin-bottom: 0px !important;
    padding-top: 20px !important;
}

.Root__main-view .view-header {
    margin-top: -20px;
}

.cover-art {
    /* Fixed a bug where some images show up as inverted in Edge. */
    filter: invert(0);
}

.NavBar__download-item {
    display: none;
}

.segoe-icon {
    font-size: 16px;
}

@media (max-width: 720px) {
    .segoe-icon {
        font-size: 18px;
    }
}

.btn {
    font-size: 14px;
    font-family: Segoe UI;
    text-transform: lowercase;
    letter-spacing: unset;
}

.btn:first-letter {
    text-transform: uppercase;
}

.btn:not(.disabled):hover {
    transform: scale(1);
}

.btn.btn-transparent:not(.disabled):hover {
    opacity: 0.7;
}

/* By [artistName] padding */
.TrackListHeader__entity-by {
    margin-right: 4px;
}

.nowPlaying-icon {
    width: 22px;
    height: 22px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFgAAABYCAYAAABxlTA0AAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAOwgAADsIBFShKgAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMS42/U4J6AAAAYtJREFUeF7t3D1OA0EQBWHfgIPwEziGgANCBFchdQa3WngrhoCRZhwsJZt2fdIk3l6rp1JL3kmSJEk6T8uyPOW8dee5PdZWifn+2clnH+2xtjIwzMAwA8MMDDMwzMAwA8MMDDMwzMAwA8MMDDMwzMAwA8MMDDMwzMAwA8MMDNsaOLPXOf2v0uu5aSOXLSE2Bc74/fdbv+U7HtrIZTMwzMAwA8MMDDMwzMAwA8MMDDMwzMAwA8MMDDMwzMATucdVLvLYn/XzNnJU5k8eOLP7de/u7Nvj08k9/uJy5xB40w6Y7GFgUvYwMCl7GJiUPQxMyh4GJmUPA5Oyh4FJ2cPApOxhYFL2MDApexiYlD0MTMoeBiZlDwOTsoeBZ/Ilm/5SK3sYeKbC5TJu4JkKOwxVuFzGDTxTYYehCpfLuIFnKuwwVOFyGTfwTIUdhipcLuMGnqmww1CFy2XcwDMVdhiqcLmMG3imwg5DFS6X8bMO/JJz6M5re3xUZm+7d3/OXRs5KrP/fgdJkiTpcux2X+XA1jrUxBuXAAAAAElFTkSuQmCC');
    background-size: cover;
    opacity: 0.7;
    transition: opacity ease-out .2s;
}

.nowPlaying-navBar-item {
    transition: opacity .3s ease-out;
}

.nowPlaying-navBar-item:hover .nowPlaying-icon {
    opacity: 1;
}

.nowPlaying-navBar-item-disabled {
    opacity: 0.35;
}

.nowPlaying-navBar-item-disabled .navBar-link {
    cursor: default;
}

.nowPlaying-navBar-item-disabled:hover .nowPlaying-icon {
    opacity: 0.7;
}

.nowPlaying-navBar-item-disabled .navbar-link__text,
.nowPlaying-navBar-item-disabled:hover .navbar-link__text {
    color: #b3b3b3;
}

a.focus-visible, button.focus-visible {  
    outline-color: #555;
    outline-style: solid;
    outline-width: 1px;
}

li[role=button].focus-visible {
    outline-color: #555;
    outline-style: solid;
    outline-width: 1px;
    background: #333;
}

a.mo-info-name.focus-visible {
    outline-color: transparent;
    outline-width: 0;
    color: #222;
    background-color: #eee;
}

.Root__main-view nav ul li a.focus-visible {
    outline-color: #eee;
    outline-style: solid;
    outline-width: 2px;
}

a.search-history-result.focus-visible h1, a.search-history-result.focus-visible span {
    opacity: 1;
    border-left: 3px solid #fff;
    padding-left: 10px;
}

.Root__top-bar {
    /* Hide top bar and user menu */
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 40px;
}

.Root__top-bar > header > div > button, .Root__top-bar > header > div > div > button, .Root__top-bar > header .sessionInfo {
    /* Hide top bar and user menu content, as top bar itself will become visible in search page (via js) */
    display: none !important;
}

.main-view-container__scroll-node-child-spacer {
    height: 0px;
}

.Rootlist {
    /* Navbar bottom items placement fix on short window size */
    min-height: 0;
}

.NowPlayingCoverSlotExpanded__container {
    display: none;
}

/* Recently played items */
@media (max-height:820px) {
    .recently-played__item-5 {
        display: none;
    }
}

@media (max-height:766px) {
    .recently-played__item-4 {
        display: none;
    }
}

@media (max-height:717px) {
    .recently-played__item-3 {
        display: none;
    }
}

@media (max-height:673px) {
    .recently-played__item-2 {
        display: none;
    }
}

@media (max-height:630px) {
    .recently-played {
        display: none;
    }
}

@media (max-height:660px) {
    .Rootlist__playlists {
        display: none;
    }
}

