
.Root__now-playing-bar {
    background-color: transparent;
    z-index: 10;
}

.now-playing-bar-container {
    border: 0;
    background-color: rgba(40, 40, 40, 0.6);
    z-index: 10;
}

.now-playing-bar {
    transition: background-color ease-in-out 2s;
    z-index: 10;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

.now-playing-bar__right__inner .CompactOverlayButton {
    margin-top: -1px;
}

.now-playing-bar__right__inner .CompactOverlayButton a {
    transition: opacity .3s ease-out;
}

.now-playing-bar__right__inner .CompactOverlayButton-disabled a {
    opacity: 0.35;
}

.now-playing-bar__right__inner .CompactOverlayButton-disabled .control-button:hover {
    color: #b3b3b3;
}

/* Fluent blur behind now playing bar */
.main-view-container {
    margin-bottom: -90px;
}

.main-view-container__scroll-node,
.main-view-container__scroll-node-child {
    padding-bottom: 90px;
}

.Root__main-view--has-ads .main-view-container {
    margin-bottom: -190px;
}

.Root__main-view--has-ads .main-view-container__scroll-node,
.Root__main-view--has-ads .main-view-container__scroll-node-child {
    padding-bottom: 190px;
}
/* END Fluent blur behind now playing bar */
