/* Pivot tab style */

.Root__main-view nav ul li a {
    font-family: Segoe UI !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    letter-spacing: normal !important;
    text-transform: lowercase !important;
    margin: 10px 7px !important;
}

.Root__main-view nav ul li a::first-letter {
    text-transform: uppercase !important;
}

.Root__main-view nav ul li a:before {
    content: "";
    height: 2px;
    position: absolute;
    display: block;
    left: 0px !important;
    right: 0px !important;
    bottom: -6px !important;
    width: unset !important;
    margin: 0 !important;
    transition: opacity .2s ease-out .1s,transform .2s ease-out .1s;
    transform: translateY(0);
    opacity: 1;
}

/* Begin pivot select item animation */
/* This does not have strong selectors, and it may fail with updates on the PWA side. */
._137ec408b14ac4ea5aec6ded3d95f328-scss:before {
    opacity: 0 !important;
    transform: translateY(-6px) !important;
}

.be059487cfa7b71ee0f482c8e5be2b7e-scss:before {
    opacity: 1 !important;
    transform: translateY(0) !important;
}
/* End pivot select item animation */

.Root__main-view nav ul {
    text-align: left !important;
}

.Root__main-view .Search__content nav ul,
.Root__main-view .artist-header nav ul {
    margin-left: 16px;
}

@media (min-width: 1100px) {
    .asideButton {
        position: absolute;
        right: 0;
        top: 8px;
    }

    .Root__main-view nav ul {
        margin-right: 150px !important;
    }
}
