/* Pivot tab style */

.Root__main-view nav ul li a, .Root__top-bar nav ul li a {
    /* text-transform: lowercase !important; */
    font-family: Segoe UI !important;
    font-weight: 400 !important;
    font-size: 16px !important;
    letter-spacing: normal !important;
    margin: 10px 12px !important;
    background: transparent !important;
    border-bottom: 2px transparent solid;
    border-radius: 0;
    padding: 0 !important;
    width: auto !important;
    color: white;
    line-height: 28px !important;
}

/*
.Root__main-view nav ul li a::first-letter {
    text-transform: uppercase !important;
}
*/

.Root__main-view nav ul li a[aria-current=page], .Root__top-bar nav ul li a[aria-current=page] {
    border-bottom-color: #1DB954;
}

.Root__main-view nav ul, .Root__top-bar nav ul {
    text-align: left !important;
}

.Root__main-view .Search__content nav ul, .Root__top-bar .Search__content nav ul {
    margin-left: 16px;
}

.Root__main-view .artist-header nav ul, .Root__top-bar .artist-header nav ul {
    margin-left: -12px;
}

@media (min-width: 1100px) {
    .asideButton {
        position: absolute;
        right: 0;
        top: 8px;
    }

    .Root__main-view nav ul, .Root__top-bar nav ul {
        margin-right: 150px !important;
    }
}
