/* Window title */
.xpotifyWindowTitle {
    position: fixed;
    font-family: Segoe UI;
    font-weight: 400;
    padding-top: 5px;
    padding-left: 54px;
    color: white;
    font-size: 12px;
    pointer-events: none;
    z-index: 100;
}
