@for $i from 1 through 3 {
    .Root__nav-bar .navBar ul li:nth-child(#{$i}) {
        opacity: 0;
        animation: animation-entrance-nav-bar-item 0.4s ease #{0.5 + ($i - 1) * 0.05}s forwards;
    }
}

.Root__nav-bar .navBar .recently-played ul li {
    opacity: 1;
    animation: none !important;
}

.Root__nav-bar .navBar .recently-played,
.Root__nav-bar .navBar .Rootlist {
    opacity: 0;
    animation: animation-entrance-nav-bar-item 0.4s ease 0.75s forwards;
}

@for $i from 1 through 5 {
    .NavBarFooter > div:nth-child(#{$i}) {
        opacity: 0;
        animation: animation-entrance-nav-bar-item 0.4s ease #{0.85 + ($i - 1) * 0.05}s forwards;
    }
}

/* Keyframes */
@keyframes animation-entrance-nav-bar-item {
    0% {
        opacity: 0;
        transform: translateY(-12px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
