
.content.artist header {
    filter: invert(1);
}

.content.artist header > div {
    filter: invert(1);
}

.content.artist header::before {
    /* background: -webkit-gradient(linear,left top,left bottom,color-stop(-30%,transparent),to(#121212)); */
    background: linear-gradient(transparent 40%,#f2f2f2);
}

.content.artist header h1, .content.artist header .contentSpacing > div {
    filter: invert(1);
}

.Root__main-view .artist .contentSpacing > span {
    /* Monthly listeners */
    filter: invert(1);
}
