.whole-page-overlay {
    /*
        'filter' becomes blurry in Edge when height > ~1100px, but backdrop-filter is fine.
        So we use an overlay with backdrop-filter instead of filter on html itself when height
        is 1100px or bigger.
        But we'll keep using filter on html for smaller sizes, as it provides better rendering
        in time of loading the page.
    */
    -webkit-backdrop-filter: invert(1);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 99999;
}

@media (max-height: 1100px) {
    html {
        filter: invert(1);
    }

    .whole-page-overlay {
        -webkit-backdrop-filter: initial;
    }
}

html {
    /* 
        Color of the bounce effect of page when using touch or touchpad.
    */
    background-color: #E7E7E7;
}

.xpotifyBackground {
    /* 
        Make background the same color as the original one, not inverted of it.
        (As Spotify PWA chooses color based on the page that is currently open,
        with 'invert + hueRotate' we can have almost the same color, only lightened)
    */
    filter: hue-rotate(180deg);
}


.cover-art, .artist-header, .view-header, .ConnectBar, .btn-green, .btn-fg-green,
div[aria-live=polite], .control-button--active, .Root__nav-bar .sessionInfo .avatar,
.UserWidget__link--is-active span, .AdsContainer__inner, img[src*=profilepic],
img[src*=p200x200], .akh8GUlQiyVVqyYbwYzyr {
    filter: invert(1);
}

.tracklist-row--active .position, .tracklist-row--active .tracklist-duration,
.tracklist-row--active .tracklist-name, .tracklist-row--active .tracklist-play-pause {
    color: #1DB954 !important;
    filter: invert(1);
}

.navBar-link--active:after, .RecentlyPlayedWidget__link--active:after {
    background-color: #1DB954;
    filter: invert(1);
}

.Root__main-view nav {
    filter: invert(1);
}

.Root__main-view nav a {
    color: black !important;
}

.Root__main-view .Search nav {
    filter: invert(0);
} 

.media-object .media-object-hoverable.playing .cover-art-image,
.media-object .media-object-hoverable.playing .daily-mix-decoration,
.media-object .media-object-hoverable:focus .cover-art-image,
.media-object .media-object-hoverable:focus .daily-mix-decoration,
.media-object .media-object-hoverable:hover .cover-art-image,
.media-object .media-object-hoverable:hover .daily-mix-decoration {
    filter: brightness(.6);
}

@media (max-height: 1100px) {
    .Root__main-view {
        /* Fixed a bug where search page can appear dark in tall pages in Edge.
           (This causes pixelated-text in tall pages, so we disable it when page height is greater than 1100px.) 
        */
        filter: invert(0);
    }
}

.Search__content nav ul li a {
    /* Fixed a bug in search page content header in white theme in Edge. */
    color: white !important;
}

.Search__content nav ul li a::before {
    /* Fixed a bug in search page content header in white theme in Edge. */
    background-color: #e246ab !important;
}

.Root__main-view nav ul li a:focus {
    outline-color: #111;
}

/* Workaround for an Edge bug where Search page comes in front of now playing bar on tall screens */
.Search, .Search__content {
    position: initial;
    z-index: initial;
} 

/* Error page image */
#main .dialog img {
    filter: invert(1);
}

/* Show emojis in playlist names correctly */
.RootlistItemPlaylist__text-wrapper,
.mo-info-name,
.TrackListHeader .mo-info-name,
.TrackListHeader__entity-name h2 {
    color: black;
    filter: invert(1);
}
