html {
    /* 
        Color of the bounce effect of page when using touch or touchpad.
    */
    background-color: #E7E7E7;
}

.xpotifyBackground {
    /* 
        Make background the same color as the original one, not inverted of it.
        (As Spotify PWA chooses color based on the page that is currently open,
        with 'invert + hueRotate' we can have almost the same color, only lightened)
    */
    filter: hue-rotate(180deg);
}


.cover-art, .artist-header, .view-header, .ConnectBar, .btn-green, .btn-fg-green,
div[aria-live=polite], .control-button--active, .Root__nav-bar .sessionInfo .avatar,
.UserWidget__link--is-active span, .AdsContainer__inner, img[src*=profilepic],
img[src*=p200x200], .akh8GUlQiyVVqyYbwYzyr {
    filter: invert(1);
    transform: translate3d(0, 0, 0);
}

.tracklist-row--active .position, .tracklist-row--active .tracklist-duration, .tracklist-row--active .tracklist-name, .tracklist-row--active .tracklist-play-pause {
    color: #1DB954 !important;
    filter: invert(1);
    transform: translate3d(0, 0, 0);
}

.navBar-link--active:after, .RecentlyPlayedWidget__link--active:after {
    background-color: #1DB954;
    filter: invert(1);
    transform: translate3d(0, 0, 0);
}

#searchPage .react-contextmenu-wrapper button {
    filter: invert(1);
    transform: translate3d(0, 0, 0);
}

.Root__main-view nav {
    filter: invert(1);
    transform: translate3d(0, 0, 0);
}

.Root__main-view nav a {
    color: black !important;
}

.media-object .media-object-hoverable.playing .cover-art-image,
.media-object .media-object-hoverable.playing .daily-mix-decoration,
.media-object .media-object-hoverable:focus .cover-art-image,
.media-object .media-object-hoverable:focus .daily-mix-decoration,
.media-object .media-object-hoverable:hover .cover-art-image,
.media-object .media-object-hoverable:hover .daily-mix-decoration {
    filter: brightness(.6);
}

.Search__content nav ul li a {
    /* Fixed a bug in search page content header in white theme in Edge. */
    color: white !important;
}

.Search__content nav ul li a::before {
    /* Fixed a bug in search page content header in white theme in Edge. */
    background-color: #e246ab !important;
}

.Root__main-view nav ul li a:focus {
    outline-color: #111;
}

/* Workaround for an Edge bug where Search page comes in front of now playing bar on tall screens */
.Search, .Search__content {
    position: initial;
    z-index: initial;
} 

/* Error page image */
#main .dialog img {
    filter: invert(1);
    transform: translate3d(0, 0, 0);
}

/* Show emojis in playlist names correctly */
/* DISABLED BECAUSE OF EDGE FILTER RENDERING BUG */
/*
.RootlistItemPlaylist__text-wrapper,
.mo-info-name,
.TrackListHeader .mo-info-name,
.TrackListHeader__entity-name h2 {
    color: black;
    filter: invert(1);
    transform: translate3d(0, 0, 0);
}
*/