.Root__nav-bar {
    background-color: rgba(40, 40, 40, 0.6) !important;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.RootlistItem--is-active:before {
    background-color: #E246AB;
}

.navBar-link--active:before {
    background-color: #E246AB;
}
