.now-playing-bar__left {
    opacity: 0;
    animation: animation-entrance-now-playing-item 0.4s ease forwards;
}

.playback-bar {
    opacity: 0;
    animation: animation-entrance-now-playing-item 0.4s ease 0.7s forwards;
}

@for $i from 1 through 5 {
    .player-controls__buttons > .control-button:nth-child(#{$i}),
    .player-controls__buttons > .react-contextmenu-wrapper:nth-child(#{$i}) {
        opacity: 0;
        animation: animation-entrance-now-playing-item 0.4s ease #{0.6 + ($i - 1) * 0.05}s forwards;
    }
}

@for $i from 1 through 4 {
    .now-playing-bar__right .ExtraControls > div:nth-child(#{$i}) {
        opacity: 0;
        animation: animation-entrance-now-playing-item 0.4s ease #{0.9 + ($i - 1) * 0.05}s forwards;
    }
}

/* Keyframes */
@keyframes animation-entrance-now-playing-item {
    0% {
        opacity: 0;
        transform: translateX(-12px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
