/* Tab/page change entrance animation */

.HeaderedGrid__header,
.container-fluid,
.search-history {
    animation: animation-entrance-content 0.4s ease;
}

.asideButton {
    animation: animation-entrance-fade-in 0.4s ease;
}

.TrackListHeader__entity-long-description {
    animation: animation-entrance-fade-in-60 0.4s ease forwards;
}

@for $i from 1 through 32 {
    .Root__main-view section > div > div:nth-child(#{$i}) {
        opacity: 0;
        animation: animation-entrance-content 0.4s ease #{($i - 1) * 0.03}s forwards;
    }
}


/* Keyframes */
@keyframes animation-entrance-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes animation-entrance-fade-in-60 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .6;
    }
}

@keyframes animation-entrance-content {
    0%, 25% {
        opacity: 0;
        transform: translateY(32px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}