/* Tracklist item animation */
@for $i from 1 through 11 {
    .tracklist > div:nth-child(#{$i}) .tracklist-row {
        opacity: 0;
        animation: animation-entrance-tracklist-item 0.4s ease #{($i - 1) * 0.03}s forwards;
    }
}
@for $i from 12 through 30 {
    .tracklist > div:nth-child(#{$i}) .tracklist-row {
        opacity: 0;
        animation: animation-entrance-tracklist-item 0.4s ease #{0.30 + ($i - 11) * 0.02}s forwards;
    }
}

/* Keyframes */
@keyframes animation-entrance-tracklist-item {
    0% {
        opacity: 0;
        transform: translateX(-24px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
